{% extends base.html %}

{% block css %}
{% if not sara_mode %}
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<style>
  #feature_list { /*list-style-type: none;*/ margin: 0; padding: 0; }
  #feature_list li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; }
  #feature_list li span { position: absolute; margin-left: -1.3em; }
</style>
{% end %}
{% end %}

{% block content %}

<div class="row">
    <div class="col-md-12 text-right">
        <form method="post" action="/item/{{ item['item_no'] }}/delete">
            {% raw xsrf_form_html() %}
            <input type="hidden" name="item_no" value="{{ item['item_no'] }}">
            <input id="delete_item" class="btn btn-danger" type="submit" value="Delete Item">
        </form>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>{{ item['item_no'] }}</h2>
        <hr>
    
        <form id="item_form" method="post" action="/item/{{ item['item_no'] }}">
        {% raw xsrf_form_html() %}

        <div class="row">
            <div class="form-group col-md-12">
                <label>Description</label>
                <input class="form-control" type="text" name="description" value="{{ item['description'] }}">
            </div><!-- ./form-group -->
        </div>

        <div class="row">
            <div class="form-group col-md-4">
                <label>Base Price</label>
                <div class="input-group">
                    <span class="input-group-addon">$</span>  
                    <input class="form-control" type="text" name="base_price" value="{{ item['base_price'] }}">
                </div> <!-- ./input-group -->
            </div><!-- ./form-group -->
        </div>

        <div class="row">
             <div class="form-group col-md-4">
                <label>Profit</label>
                <div class="input-group">
                    <input class="form-control" type="text" name="profit" value="{{ item['profit'] }}">
                    <span class="input-group-addon">%</span>
                </div> <!-- ./input-group -->
            </div><!-- ./form-group -->
        </div>

        <div class="row">
            <div class="col-md-4">
            <button class="btn btn-primary" type="submit" id="submit_button">Save</button>
            </div>
        </div><!-- ./row -->
    </div><!-- ./col-md-6 -->

    <div class="col-md-6">
        <h2>Enabled Features</h2>
        <hr>
        <ol id="feature_list">
        {% for f in all_features %}
        <li class="ui-state-default" id="{{ f['feature_id'] }}_list">
            <div class="checkbox">
                <label>
                    <input class="feature" 
                           name="enabled_features[]" 
                           value="{{ f['feature_id'] }}" 
                           type="checkbox" 
                           id="{{ f['feature_id'] }}"
                            {% if f['enabled'] %} 
                            checked
                            {% end %}> 
                    {{ f['description'] }}
                </label>
            </div>

            <div class="options well" id="{{ f['feature_id'] }}_options">
                {% for o in f['options'] %}
                    <div class="radio">
                        <label>
                            <input type="checkbox" 
                                   name="{{ f['feature_id'] }}_options[]"
                                   value="{{ o['option_id'] }}"
                                   {% if o['enabled'] %}
                                   checked
                                   {% end %}> 
                            {{ o['description'] }}
                        </label>
                    </div>
                {% end %}
            </div>
            </li>
        {% end %}
        </ul>
    </div>
</div>
</form>

{% end %}

{% block js %}
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script type="text/javascript">

    function getCookie(name) {
        var r = document.cookie.match("\\b" + name + "=([^;]*)\\b");
            return r ? r[1] : undefined;
    }

    $(document).ready(function() {
        $('.options').each(function() {
            var feature_id = $(this).attr("id").split("_")[0]
            // if feature is checked show its options
            if ($('#' + feature_id).is(":checked")){
                $(this).show();
            // if feature is unchecked hide its options
            } else {
                $(this).hide();
            }   
        });
  
        $( "#feature_list" ).sortable({
            helper: "clone",
            start: function(event, ui) {
                feature_id = ui.item.context.id.split("_")[0]
                // disables checkboxes if drag and drop started
                // since sortable breaks checkbox form submissions
                $('.feature').each(function() {
                    $(this).addClass('disabled');
                    $(this).attr('disabled', true);
                    $('.option').addClass('disabled');
                    $('.option').attr('disabled', true);
                    $('#submit_button').attr('disabled', true);
                });
            },
            stop: function(event, ui) {
                
                var data = {};
                    $('.feature').each(function() {
                        data[$(this).attr("id")] =  $(this).parents("li").index();
                    });
                    data["_xsrf"] = getCookie("_xsrf");

                    $.ajax({
                        url : "/item/{{ item['item_no'] }}/sort",
                        type: "POST",
                        data : data,
                        success: function(data, textStatus, jqXHR) {
                            location.reload(true);
                        },
                        error: function (jqXHR, textStatus, errorThrown){
                                alert("Sorting update failed.");
                        }
                    });
                    for (var key in data) {
                        var value = data[key];
                        console.log(key + " -- " + value);
                    }
                }
        });
    });


    $('.feature').change(function(){
        var options_div_id = "#" + $(this).attr('id') + "_options"
        if (this.checked) {
            // if feature is checked show its options
            $(options_div_id).show();
        } else {
            // if feature is unchecked hide its options
            $(options_div_id).hide();
        }   
    });


  </script>

{% end %}
